<!--
Renders a payment form.
Capturing a payment "updates" the ticket (marks it as a "paid" one).
-->

<div class="all-bold">

    <p>Nice to meet you <%= @ticket.user_name %>!</p>

    <p>
    We reserved your ticket for 5 minutes
    <br>
    Please complete the purchase using a test credit card
    </p>

</div>
<%= if @ticket.state != "purchased" do %>
  <form id="payment-form" class="sr-payment-form" data-ticket-id="<%= @ticket.id %>"">
    <div class="sr-combo-inputs-row">
      <div class="sr-input sr-card-element" id="card-element"></div>
    </div>
    <div class="sr-field-error" id="card-errors" role="alert"></div>
    <button id="submit-payment">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay</span><span id="order-amount"></span>
    </button>
  </form>
<% end %>
