<!--
Renders a successfully purchased ticket.
-->

<h1>Congratulations <%= @ticket.user_name %>!</h1>

<p>
    You've been added to the
    <a class="blue" href="<%= Routes.event_guest_path(@conn, :index, @ticket.event_id) %>">list of guests</a>
</p>
