<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NaiveDice · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="<%= stripe_js() %>"></script>
  </head>
  <body class="bg-light">
    <div role="main" class="container">
      <%= show_flash(@conn) %>
      <br>
      <br>
      <br>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
